# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/
*.pdf

.vscode/
*.pdf

.vscode/
.zed/
.cache/
venv310/
minishell_tester/
compile_commands.json
sources_dump.txt

# tests
minishell
42_minishell_tester/
42_minishell_tester_2/
42_minishell_tester_3/
script-run-all-mand.sh
minishell_test_log.txt
